.article-container{
    width:900px;
    padding: 35px;
}
.article-box{
    padding-bottom: 30px;
    width: 100%;
}
input{
    padding: 0px 20px;
    width: 300px;
    height:40px;
    font-size: 22px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #6d3b3b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
button{
    width: 200px;
    height:44px;
    font-size: 22px;
}